<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


<img src="https://bk.ibxk.com.br/2013/10/17/17170343423.jpg" width="30px">

    
    <header>
        <main>
            <div>
                    <ul>
                        <li>
                            <a href="https://www.instagram.com/rodrigo.valim.07/">
                                <img src="Instagram.png" width="30px">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/rodrigo.valim.07/">
                                <img src="face.png" width="30px">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="/atividade_pratica/src/assets/github.jpg" width="30px">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/rodrigovalim07/">
                                <img src="image.pgnimage.png/assets/linkedin.png" width="30px">
                            </a>
                        </li>
                    </ul>
            </div>
        </main>
    </header>
    
    <router-outlet></router-outlet>
</body>
</html>